/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
	--bg-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --accent-bg-color: #FF0070;
  --decoration-color: #FF0070;
  --accent-text-color: #000028;
  --title-color: #DB00FF;
  --fonts: 'IBM Plex mono', monospace;
  --fs-normal: 18px;
  --lh-normal: 130%;
  --fw-normal: 400;
  --fw-bold: 700;
}
